<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALGZQmoqBW2gSmLv6uxnqQ0BPgEQ4A9ww</string>
	<key>GCM_SENDER_ID</key>
	<string>1064019972459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cripo.poolsday</string>
	<key>PROJECT_ID</key>
	<string>pool-s-day</string>
	<key>STORAGE_BUCKET</key>
	<string>pool-s-day.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064019972459:ios:e1a5c1e0fed14e2714bc2e</string>
</dict>
</plist>